* text=auto !eol
/CMakeLists.txt -text
/CTestConfig.cmake -text
/License.txt -text
/Makefile -text
/Makefile_c -text
/Makefile_cpp -text
/Makefile_cxx -text
/Makefile_cyg -text
/Makefile_f90 -text
/Makefile_lib -text
/Makefile_lnx -text
/Makefile_mac -text
/Makefile_post -text
/Makefile_pre -text
/Makefile_sys -text
/Makefile_test -text
/Makefile_win -text
/SDDS_COPYRIGHT.TXT -text
/SDDS_LICENSE -text
/VERSION -text
cmake/Copyright.txt -text
cmake/ExternalProject-pymad.cmake -text
cmake/FindCYTHON.cmake -text
cmake/FindGSL.cmake -text
cmake/FindLAPACK.cmake -text
cmake/FindSDDS.cmake -text
cmake/MadX.icns -text svneol=unset#unset
cmake/README -text
cmake/ToolChains/Linux-LF95.cmake -text
cmake/ToolChains/Windows-MinGW32.cmake -text
cmake/cdash_madx.cmake -text
cmake/compilers/setupGNU.cmake -text
cmake/compilers/setupIntel.cmake -text
cmake/compilers/setupLahey.cmake -text
cmake/compilers/setupNAGFOR.cmake -text
cmake/compilers/setupPathScale.cmake -text
cmake/ctestbase.cmake -text
cmake/install_macros.cmake -text
cmake/madX.gif -text svneol=unset#unset
cmake/madxInit.cmake -text
cmake/numdifftests.cmake -text
cmake/setupArchSpecifics.cmake -text
cmake/setupCompilerSpecifics.cmake -text
cmake/setupExternalProjects.cmake -text
cmake/setupInstallation.cmake -text
cmake/setupOptions.cmake -text
cmake/setupPackaging.cmake -text
cmake/setupProcessorCount.cmake -text
cmake/setupTesting.cmake -text
doc/usrguide/Introduction/aperexample.jpg -text
doc/usrguide/Introduction/aperture.html -text
doc/usrguide/Introduction/attribute.html -text
doc/usrguide/Introduction/beam.html -text
doc/usrguide/Introduction/beambeam.html -text
doc/usrguide/Introduction/beambeam_n_hollowparabol.jpg -text
doc/usrguide/Introduction/beambeam_n_trapez.jpg -text
doc/usrguide/Introduction/bend.html -text
doc/usrguide/Introduction/bibliography.html -text
doc/usrguide/Introduction/bv_flag.html -text
doc/usrguide/Introduction/cavity.html -text
doc/usrguide/Introduction/closed_orbit.html -text
doc/usrguide/Introduction/collimator.html -text
doc/usrguide/Introduction/constraint.html -text
doc/usrguide/Introduction/conventions.html -text
doc/usrguide/Introduction/copyright.html -text
doc/usrguide/Introduction/crabcavity.html -text
doc/usrguide/Introduction/declarations.html -text
doc/usrguide/Introduction/defects.html -text
doc/usrguide/Introduction/dipedge.html -text
doc/usrguide/Introduction/doc.html -text
doc/usrguide/Introduction/drift.html -text
doc/usrguide/Introduction/element.html -text
doc/usrguide/Introduction/elm_class.html -text
doc/usrguide/Introduction/elm_edit.html -text
doc/usrguide/Introduction/elm_format.html -text
doc/usrguide/Introduction/expression.html -text
doc/usrguide/Introduction/format.html -text
doc/usrguide/Introduction/fortran-rules.html -text
doc/usrguide/Introduction/global_system.html -text
doc/usrguide/Introduction/integer.html -text
doc/usrguide/Introduction/keyword.html -text
doc/usrguide/Introduction/kickers.html -text
doc/usrguide/Introduction/label.html -text
doc/usrguide/Introduction/line.html -text
doc/usrguide/Introduction/local_system.html -text
doc/usrguide/Introduction/logical.html -text
doc/usrguide/Introduction/mad_units.html -text
doc/usrguide/Introduction/madxdoc.css -text
doc/usrguide/Introduction/marker.html -text
doc/usrguide/Introduction/matrix.html -text
doc/usrguide/Introduction/module.ps -text
doc/usrguide/Introduction/module.tex -text
doc/usrguide/Introduction/module_doc.html -text
doc/usrguide/Introduction/monitors.html -text
doc/usrguide/Introduction/multipole.html -text
doc/usrguide/Introduction/name.html -text
doc/usrguide/Introduction/news.html -text
doc/usrguide/Introduction/notsimple0.jpg -text
doc/usrguide/Introduction/notsimple1.jpg -text
doc/usrguide/Introduction/notsimple2.jpg -text
doc/usrguide/Introduction/octupole.html -text
doc/usrguide/Introduction/offsetelem.jpg -text
doc/usrguide/Introduction/parameter.html -text
doc/usrguide/Introduction/pitfalls.html -text
doc/usrguide/Introduction/quadrupole.html -text
doc/usrguide/Introduction/ranges.html -text
doc/usrguide/Introduction/real.html -text
doc/usrguide/Introduction/resbeam.html -text
doc/usrguide/Introduction/rfmultipole.html -text
doc/usrguide/Introduction/rotation.html -text
doc/usrguide/Introduction/sectormap.html -text
doc/usrguide/Introduction/select.html -text
doc/usrguide/Introduction/separator.html -text
doc/usrguide/Introduction/sequence.html -text
doc/usrguide/Introduction/set.html -text
doc/usrguide/Introduction/sextupole.html -text
doc/usrguide/Introduction/sign_convent.html -text
doc/usrguide/Introduction/solenoid.html -text
doc/usrguide/Introduction/source.html -text
doc/usrguide/Introduction/statement.html -text
doc/usrguide/Introduction/string.html -text
doc/usrguide/Introduction/support.html -text
doc/usrguide/Introduction/tables.html -text
doc/usrguide/Introduction/tfs.html -text
doc/usrguide/Introduction/tfs_columns.html -text
doc/usrguide/Introduction/tfs_desc.html -text
doc/usrguide/Introduction/tkickers.html -text
doc/usrguide/Introduction/tolerance.jpg -text
doc/usrguide/Introduction/twiss_desc.html -text
doc/usrguide/Introduction/variable.html -text
doc/usrguide/Introduction/wildcard.html -text
doc/usrguide/archives/pres2.ps -text
doc/usrguide/c6t/c6t.html -text
doc/usrguide/control/control.html -text
doc/usrguide/control/foot.html -text
doc/usrguide/control/general.html -text
doc/usrguide/control/seqedit.html -text
doc/usrguide/control/special.html -text
doc/usrguide/cororbit/co_activate.html -text
doc/usrguide/cororbit/co_correct.html -text
doc/usrguide/cororbit/co_corrsave.html -text
doc/usrguide/cororbit/co_option.html -text
doc/usrguide/cororbit/cororbit.html -text
doc/usrguide/cororbit/lhct.mad.html -text
doc/usrguide/cororbit/uc0.gif -text
doc/usrguide/dynap/dynap.html -text
doc/usrguide/emit/emit.html -text
doc/usrguide/equations/PhiThetaPsi.gif -text
doc/usrguide/equations/RSbend.gif -text
doc/usrguide/equations/RSstraight.gif -text
doc/usrguide/equations/S_matrix.gif -text
doc/usrguide/equations/Ssrot.gif -text
doc/usrguide/equations/Syrot.gif -text
doc/usrguide/equations/Taylor_A_s.gif -text
doc/usrguide/equations/Taylor_B.gif -text
doc/usrguide/equations/Taylor_field.gif -text
doc/usrguide/equations/Trot.gif -text
doc/usrguide/equations/VW.gif -text
doc/usrguide/equations/fint_hgap.gif -text
doc/usrguide/equations/fint_hgap_save.gif -text
doc/usrguide/equations/noise.gif -text
doc/usrguide/error/dpsi-tgif.obj -text
doc/usrguide/error/dpsi.gif -text
doc/usrguide/error/dpsi_align.gif -text
doc/usrguide/error/err1.ht -text
doc/usrguide/error/error.html -text
doc/usrguide/error/error_align.html -text
doc/usrguide/error/error_field.html -text
doc/usrguide/error/error_option.html -text
doc/usrguide/error/error_print.html -text
doc/usrguide/error/error_save.html -text
doc/usrguide/error/errors.html -text
doc/usrguide/error/monitor_read.gif -text
doc/usrguide/error/xs_align.gif -text
doc/usrguide/error/ys_align.gif -text
doc/usrguide/figures/deltaQ.gif -text
doc/usrguide/figures/global.gif -text
doc/usrguide/figures/local_reference.gif -text
doc/usrguide/figures/monitor_read.gif -text
doc/usrguide/figures/ref_rbend.gif -text
doc/usrguide/figures/ref_sbend.gif -text
doc/usrguide/figures/ref_srot.gif -text
doc/usrguide/figures/ref_straight.gif -text
doc/usrguide/figures/ref_yrot.gif -text
doc/usrguide/figures/xs_align.gif -text
doc/usrguide/figures/xy_align.gif -text
doc/usrguide/figures/ys_align.gif -text
doc/usrguide/ibs/ibs.css -text
doc/usrguide/ibs/ibs.html -text
doc/usrguide/ibs/img1.png -text
doc/usrguide/ibs/img2.png -text
doc/usrguide/ibs/img3.png -text
doc/usrguide/ibs/img4.png -text
doc/usrguide/ibs/img5.png -text
doc/usrguide/ibs/img6.png -text
doc/usrguide/makethin/makethin.html -text
doc/usrguide/match/bibliography.html -text
doc/usrguide/match/match.html -text
doc/usrguide/match/match_con.html -text
doc/usrguide/match/match_main.html -text
doc/usrguide/match/match_um.html -text
doc/usrguide/match/match_vary.html -text
doc/usrguide/match/match_xeq.html -text
doc/usrguide/match/match_xmpl.html -text
doc/usrguide/plot/plot.html -text
doc/usrguide/plug-ins/index.html -text
doc/usrguide/plug-ins/madxdoc_ps.css -text
doc/usrguide/plug-ins/rplot/download/rplot-1.06.tgz -text
doc/usrguide/plug-ins/rplot/download/rplot-1.07.tgz -text
doc/usrguide/plug-ins/rplot/download/rplot-1.08.tgz -text
doc/usrguide/plug-ins/rplot/index.html -text
doc/usrguide/plug-ins/rplot/madxdoc_ps.css -text
doc/usrguide/ptc_auxiliaries/Match_WithPTCKnobs.html -text
doc/usrguide/ptc_auxiliaries/PTC_DumpMaps.html -text
doc/usrguide/ptc_auxiliaries/PTC_EPlacement.html -text
doc/usrguide/ptc_auxiliaries/PTC_Knob.html -text
doc/usrguide/ptc_auxiliaries/PTC_Moments.html -text
doc/usrguide/ptc_auxiliaries/PTC_PrintFrames.html -text
doc/usrguide/ptc_auxiliaries/PTC_PrintParametric.html -text
doc/usrguide/ptc_auxiliaries/PTC_Select.html -text
doc/usrguide/ptc_auxiliaries/PTC_SelectMoment.html -text
doc/usrguide/ptc_auxiliaries/PTC_SetCavities.html -text
doc/usrguide/ptc_auxiliaries/PTC_SetKnobValue.html -text
doc/usrguide/ptc_auxiliaries/PTC_SetSwitch.html -text
doc/usrguide/ptc_auxiliaries/ptc_auxiliaries.html -text
doc/usrguide/ptc_general/madxdoc.css -text
doc/usrguide/ptc_general/ptc_general.html -text
doc/usrguide/ptc_normal/madxdoc.css -text
doc/usrguide/ptc_normal/ptc_normal.html -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/filelist.xml -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/image001.gif -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/image002.wmz -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/image003.gif -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/image004.wmz -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/image005.gif -text
doc/usrguide/ptc_track/PTC_TRACK_RUN_Manual_20050722.files/oledata.mso -text
doc/usrguide/ptc_track/madxdoc.css -text
doc/usrguide/ptc_track/ptc_track.html -text
doc/usrguide/ptc_track/ptc_track_20050722/PTC_TRACK_RUN_Manual_20050722.doc -text
doc/usrguide/ptc_track/ptc_track_20050722/PTC_TRACK_RUN_Manual_20050722.pdf -text svneol=unset#unset
doc/usrguide/ptc_track_line/ptc_track_line.html -text
doc/usrguide/ptc_twiss/1988_Ripken.pdf -text svneol=unset#unset
doc/usrguide/ptc_twiss/madxdoc.css -text
doc/usrguide/ptc_twiss/ptc_twiss.html -text
doc/usrguide/sindex.html -text
doc/usrguide/sodd/sodd.html -text
doc/usrguide/survey/V6.4.seq.070602 -text
doc/usrguide/survey/survey.html -text
doc/usrguide/survey/survey_mad8.html -text
doc/usrguide/sxf/sxf.html -text
doc/usrguide/thintrack/madxdoc.css -text
doc/usrguide/thintrack/thintrack.html -text
doc/usrguide/threader/README -text
doc/usrguide/threader/threader.html -text
doc/usrguide/touschek/touschek.html -text
doc/usrguide/tracking/madxdoc.css -text
doc/usrguide/tracking/tracking.html -text
doc/usrguide/twiss/madxdoc.css -text
doc/usrguide/twiss/twiss.html -text
doc/usrguide/twiss/twiss_mad8.html -text
doc/usrguide/uguide.html -text
lib32/libSDDS1.a -text
lib32/libSDDS1c.a -text
lib32/libX11.a -text
lib32/libgsl.a -text
lib32/libmdblib.a -text
lib32/libmdbmth.a -text
lib32/librpnlib.a -text
lib32/libz.a -text
lib64/libSDDS1.a -text
lib64/libSDDS1c.a -text
lib64/libX11.a -text
lib64/libgsl.a -text
lib64/libmdblib.a -text
lib64/libmdbmth.a -text
lib64/librpnlib.a -text
lib64/libz.a -text
libs/CMakeLists.txt -text
libs/madx/Makefile -text
libs/ptc/CMakeLists.txt -text
libs/ptc/Makefile -text
libs/ptc/Makefile_f90 -text
libs/ptc/src/CMakeLists.txt -text
libs/ptc/src/Sa_extend_poly.f90 -text
libs/ptc/src/Sb_sagan_pol_arbitrary.f90 -text
libs/ptc/src/Sc_euclidean.f90 -text
libs/ptc/src/Sd_frame.f90 -text
libs/ptc/src/Se_status.f90 -text
libs/ptc/src/Sf_def_all_kinds.f90 -text
libs/ptc/src/Sg_sagan_wiggler.f90 -text
libs/ptc/src/Sh_def_kind.f90 -text
libs/ptc/src/Si_def_element.f90 -text
libs/ptc/src/Sk_link_list.f90 -text
libs/ptc/src/Sl_family.f90 -text
libs/ptc/src/Sm_tracking.f90 -text
libs/ptc/src/Sma0_beam_beam_ptc.f90 -text
libs/ptc/src/Sma_multiparticle.f90 -text
libs/ptc/src/Sn_mad_like.f90 -text
libs/ptc/src/So_fitting.f90 -text
libs/ptc/src/Sp_keywords.f90 -text
libs/ptc/src/Spb_fake_gino_sub.f90 -text
libs/ptc/src/Sq_orbit_ptc.f90 -text
libs/ptc/src/Sr_spin.f90 -text
libs/ptc/src/Sra_fitting.f90 -text
libs/ptc/src/Ss_fake_mad.f90 -text
libs/ptc/src/St_pointers.f90 -text
libs/ptc/src/a_def_all_kind.inc -text
libs/ptc/src/a_def_element_fibre_layout.inc -text
libs/ptc/src/a_def_frame_patch_chart.inc -text
libs/ptc/src/a_def_sagan.inc -text
libs/ptc/src/a_def_worm.inc -text
libs/ptc/src/a_namelists.inc -text
libs/ptc/src/a_scratch_size.f90 -text
libs/ptc/src/b_da_arrays_all.f90 -text
libs/ptc/src/c_dabnew.f90 -text
libs/ptc/src/d_lielib.f90 -text
libs/ptc/src/h_definition.f90 -text
libs/ptc/src/i_tpsa.f90 -text
libs/ptc/src/j_tpsalie.f90 -text
libs/ptc/src/k_tpsalie_analysis.f90 -text
libs/ptc/src/l_complex_taylor.f90 -text
libs/ptc/src/m_real_polymorph.f90 -text
libs/ptc/src/n_complex_polymorph.f90 -text
libs/ptc/src/o_tree_element.f90 -text
libs/ptc/src/ptcinterface.f90 -text
make/README -text
make/README.lxplus -text
make/README.windows -text
make/clean.rules -text
make/compiler.cl -text
make/compiler.g++ -text
make/compiler.g95 -text
make/compiler.gcc -text
make/compiler.gfortran -text
make/compiler.icc -text
make/compiler.icl -text
make/compiler.ifort -text
make/compiler.lf95 -text
make/compiler.nagfor -text
make/compiler.rules -text
make/depend.rules -text
make/info.rules -text
make/linker.ar -text
make/linker.cl -text
make/linker.g++ -text
make/linker.g95 -text
make/linker.gcc -text
make/linker.gfortran -text
make/linker.icc -text
make/linker.icl -text
make/linker.ifort -text
make/linker.ld -text
make/linker.lf95 -text
make/linker.nagfor -text
make/linker.rules -text
make/make.act -text
make/make.cfg -text
make/make.inc -text
make/make.lib -text
make/system.Cygwin -text
make/system.Darwin -text
make/system.Linux -text
make/system.Windows -text
make/tester.numdiff -text
make/tester.rules -text
src/CMakeLists.txt -text
src/SDDS.h -text
src/SDDStypes.h -text
src/c_dabnew_berz.f90 -text
src/c_tpsa_interface.F90 -text
src/dynap.f90 -text
src/emit.f90 -text
src/gxx11.f90 -text
src/gxx11ps.f90 -text
src/ibsdb.f90 -text
src/mad_6track.c -text
src/mad_6track.h -text
src/mad_aper.c -text
src/mad_aper.h -text
src/mad_api.c -text
src/mad_api.h -text
src/mad_array.c -text
src/mad_array.h -text
src/mad_beam.c -text
src/mad_beam.h -text
src/mad_cmd.c -text
src/mad_cmd.h -text
src/mad_cmdin.c -text
src/mad_cmdin.h -text
src/mad_cmdpar.c -text
src/mad_cmdpar.h -text
src/mad_const.c -text
src/mad_const.h -text
src/mad_core.c -text
src/mad_core.h -text
src/mad_def.h -text
src/mad_dict.c -text
src/mad_dict.h -text
src/mad_dynap.c -text
src/mad_dynap.h -text
src/mad_elem.c -text
src/mad_elem.h -text
src/mad_elemdrift.c -text
src/mad_elemdrift.h -text
src/mad_elemerr.c -text
src/mad_elemerr.h -text
src/mad_elemmultp.c -text
src/mad_elemmultp.h -text
src/mad_elemprobe.c -text
src/mad_elemprobe.h -text
src/mad_elemrfc.c -text
src/mad_elemrfc.h -text
src/mad_emit.c -text
src/mad_emit.h -text
src/mad_err.c -text
src/mad_err.h -text
src/mad_eval.c -text
src/mad_eval.h -text
src/mad_exec.c -text
src/mad_exec.h -text
src/mad_expr.c -text
src/mad_expr.h -text
src/mad_extrn_f.h -text
src/mad_gcst.c -text
src/mad_gcst.h -text
src/mad_gvar.c -text
src/mad_gvar.h -text
src/mad_gxx11c.c -text
src/mad_gxx11c.h -text
src/mad_ibs.c -text
src/mad_ibs.h -text
src/mad_inif_f.F90 -text
src/mad_macro.c -text
src/mad_macro.h -text
src/mad_main.c -text
src/mad_main.h -text
src/mad_match.c -text
src/mad_match.h -text
src/mad_match2.c -text
src/mad_match2.h -text
src/mad_math.c -text
src/mad_math.h -text
src/mad_mem.c -text
src/mad_mem.h -text
src/mad_mkthin.c -text
src/mad_mkthin.h -text
src/mad_name.c -text
src/mad_name.h -text
src/mad_node.c -text
src/mad_node.h -text
src/mad_option.c -text
src/mad_option.h -text
src/mad_orbit.c -text
src/mad_orbit.h -text
src/mad_parse.c -text
src/mad_parse.h -text
src/mad_plot.c -text
src/mad_plot.h -text
src/mad_port.h -text
src/mad_ptc.c -text
src/mad_ptc.h -text
src/mad_ptcknobs.c -text
src/mad_ptcknobs.h -text
src/mad_rand.c -text
src/mad_rand.h -text
src/mad_range.c -text
src/mad_range.h -text
src/mad_regex.c -text
src/mad_regex.h -text
src/mad_rplot.cpp -text
src/mad_rplot.h -text
src/mad_sdds.c -text
src/mad_sdds.h -text
src/mad_select.c -text
src/mad_select.h -text
src/mad_seq.c -text
src/mad_seq.h -text
src/mad_sodd.c -text
src/mad_sodd.h -text
src/mad_str.c -text
src/mad_str.h -text
src/mad_stream.c -text
src/mad_stream.h -text
src/mad_survey.c -text
src/mad_survey.h -text
src/mad_sxf.c -text
src/mad_sxf.h -text
src/mad_table.c -text
src/mad_table.h -text
src/mad_time.c -text
src/mad_time.h -text
src/mad_touschek.c -text
src/mad_touschek.h -text
src/mad_track.c -text
src/mad_track.h -text
src/mad_twiss.c -text
src/mad_twiss.h -text
src/mad_types_f.h -text
src/mad_util.c -text
src/mad_util.h -text
src/mad_var.c -text
src/mad_var.h -text
src/mad_vec.c -text
src/mad_vec.h -text
src/mad_write.c -text
src/mad_write.h -text
src/madx.h -text
src/madx_ptc_distrib.f90 -text
src/madx_ptc_distrib.inc -text
src/madx_ptc_eplacement.f90 -text
src/madx_ptc_intstate.f90 -text
src/madx_ptc_knobs.f90 -text
src/madx_ptc_knobs.inc -text
src/madx_ptc_module.f90 -text
src/madx_ptc_normal.f90 -text
src/madx_ptc_script.f90 -text
src/madx_ptc_setcavs.f90 -text
src/madx_ptc_track_run.f90 -text
src/madx_ptc_trackcavs.f90 -text
src/madx_ptc_twiss.f90 -text
src/match.f90 -text
src/matchjc.f90 -text
src/matchlib.f90 -text
src/matchlib2.f90 -text
src/matchsa.f90 -text
src/orbf.f90 -text
src/photoni.inc -text
src/plot.f90 -text
src/poisson.f90 -text
src/ptc_export_xml.f90 -text
src/resindex.f90 -text
src/sodd.f90 -text
src/survey.f90 -text
src/timest.f90 -text
src/timex.f90 -text
src/touschek.f90 -text
src/tpsa.cpp -text
src/tpsa.h -text
src/trrun.f90 -text
src/twiss.f90 -text
src/user2_photon.f90 -text
src/util.f90 -text
src/wrap.f90 -text
syntax/CMakeLists.txt -text
syntax/README.txt -text
syntax/emacs/.emacs -text
syntax/emacs/README -text
syntax/emacs/madx.el -text
syntax/kate/madx.xml -text
syntax/vim/madx.vim -text
testing/MadBuild.pl -text
testing/MadBuild.py -text
testing/MadBuildAndTest.pl -text
testing/MadBuildAndTest.py -text
testing/MadBuildPy.pl -text
testing/MadDiff.pl -text
testing/MadRelease.py -text
testing/MadTest.pl -text
testing/MadTest.py -text
testing/MadTestExceptions.py -text
testing/MadTestOverwrite.pl -text
testing/MadTestPy.pl -text
testing/MadTestWebStyle.css -text
testing/MadTrigRelease.pl -text
testing/MadTrigTest.pl -text
testing/MadTrigTest.py -text
testing/MadTrigWindowsCompilation.pl -text
testing/MadWindowsCompileClient.pl -text
testing/MadWindowsCompileClient.py -text
testing/MadWindowsCompileServer.pl -text
testing/MadWindowsCompileServer.py -text
testing/MadWorkBetweenReleases.pl -text
testing/MadWorkReport.pl -text
testing/Makefile -text
testing/Notify.py -text
testing/ProcessScenario.xsl -text
testing/TestScenario.xml -text
testing/index.htm -text
testing/mad_install -text
testing/repository.gif -text svneol=unset#unset
testing/stayAlive.py -text
testing/testCompileClient.py -text
testing/underConstruction.gif -text svneol=unset#unset
tests/share/LHC/LHCRing/V6.503/V6.5.coll.str -text
tests/share/LHC/LHCRing/V6.503/V6.5.inj.str -text
tests/share/LHC/LHCRing/V6.503/V6.5.seq -text
tests/share/LHC/LHCRing/V6.503/toolkit/select.ir8.b1.madx -text
tests/share/LHC/LHCRing/V6.503/toolkit/twissini.ir8.b1.madx -text
tests/test-ibs/ibs_output.tfs.cfg -text
tests/test-ibs/ibs_output.tfs.ref -text
tests/test-ibs/test-ibs.cfg -text
tests/test-ibs/test-ibs.madx -text
tests/test-ibs/test-ibs.ref -text
tests/test-jacobian-2/test-jacobian-2.cfg -text
tests/test-jacobian-2/test-jacobian-2.madx -text
tests/test-jacobian-2/test-jacobian-2.ref -text
tests/test-jacobian-knobs/knobfile.cfg -text
tests/test-jacobian-knobs/knobfile.ref -text
tests/test-jacobian-knobs/test-jacobian-knobs.cfg -text
tests/test-jacobian-knobs/test-jacobian-knobs.madx -text
tests/test-jacobian-knobs/test-jacobian-knobs.ref -text
tests/test-jacobian/test-jacobian.cfg -text
tests/test-jacobian/test-jacobian.madx -text
tests/test-jacobian/test-jacobian.ref -text
tests/test-match-2/str.ip8.b1.dat.cfg -text
tests/test-match-2/str.ip8.b1.dat.ref -text
tests/test-match-2/test-match-2.cfg -text
tests/test-match-2/test-match-2.madx -text
tests/test-match-2/test-match-2.ref -text
tests/test-match-2/twiss.ir8.b1.data.cfg -text
tests/test-match-2/twiss.ir8.b1.data.ref -text
tests/test-match/test-match.cfg -text
tests/test-match/test-match.madx -text
tests/test-match/test-match.ref -text
tests/test-ptc-normal/Maxwellian_bend_for_ptc.txt.cfg -text
tests/test-ptc-normal/Maxwellian_bend_for_ptc.txt.ref -text
tests/test-ptc-normal/fort.18.ref -text
tests/test-ptc-normal/ptc_map_table.tfs.cfg -text
tests/test-ptc-normal/ptc_map_table.tfs.ref -text
tests/test-ptc-normal/ptc_normal_results.tfs.cfg -text
tests/test-ptc-normal/ptc_normal_results.tfs.ref -text
tests/test-ptc-normal/test-ptc-normal.cfg -text
tests/test-ptc-normal/test-ptc-normal.madx -text
tests/test-ptc-normal/test-ptc-normal.ref -text
tests/test-ptc-twiss/Maxwellian_bend_for_ptc.txt.cfg -text
tests/test-ptc-twiss/Maxwellian_bend_for_ptc.txt.ref -text
tests/test-ptc-twiss/fort.18.ref -text
tests/test-ptc-twiss/ptc-twiss-table.cfg -text
tests/test-ptc-twiss/ptc-twiss-table.ref -text
tests/test-ptc-twiss/test-ptc-twiss.cfg -text
tests/test-ptc-twiss/test-ptc-twiss.madx -text
tests/test-ptc-twiss/test-ptc-twiss.ref -text
tests/test-ptc-twiss/twiss-table.cfg -text
tests/test-ptc-twiss/twiss-table.ref -text
tests/test-rfmultipole-2/sectormap.cfg -text
tests/test-rfmultipole-2/sectormap.ref -text
tests/test-rfmultipole-2/test-rfmultipole-2.cfg -text
tests/test-rfmultipole-2/test-rfmultipole-2.madx -text
tests/test-rfmultipole-2/test-rfmultipole-2.ref -text
tests/test-rfmultipole-3/sectormap.cfg -text
tests/test-rfmultipole-3/sectormap.ref -text
tests/test-rfmultipole-3/test-rfmultipole-3.cfg -text
tests/test-rfmultipole-3/test-rfmultipole-3.madx -text
tests/test-rfmultipole-3/test-rfmultipole-3.ref -text
tests/test-rfmultipole-4/sectormap.cfg -text
tests/test-rfmultipole-4/sectormap.ref -text
tests/test-rfmultipole-4/test-rfmultipole-4.cfg -text
tests/test-rfmultipole-4/test-rfmultipole-4.m -text
tests/test-rfmultipole-4/test-rfmultipole-4.madx -text
tests/test-rfmultipole-4/test-rfmultipole-4.ref -text
tests/test-rfmultipole/fc.16.ref -text
tests/test-rfmultipole/fc.2.ref -text
tests/test-rfmultipole/fc.3.aux.ref -text
tests/test-rfmultipole/fc.3.ref -text
tests/test-rfmultipole/fc.34.ref -text
tests/test-rfmultipole/test-rfmultipole.cfg -text
tests/test-rfmultipole/test-rfmultipole.madx -text
tests/test-rfmultipole/test-rfmultipole.ref -text
tests/test-rfmultipole/test1_flat.seq.ref -text
tests/test-rfmultipole/test1_track.obs0001.p0001.cfg -text
tests/test-rfmultipole/test1_track.obs0001.p0001.ref -text
tests/test-rfmultipole/test1_track.obs0002.p0001.cfg -text
tests/test-rfmultipole/test1_track.obs0002.p0001.ref -text
tests/test-twiss/sample_optics.tfs.cfg -text
tests/test-twiss/sample_optics.tfs.ref -text
tests/test-twiss/test-twiss.cfg -text
tests/test-twiss/test-twiss.madx -text
tests/test-twiss/test-twiss.ref -text
tools/CMakeLists.txt -text
tools/numdiff/CMakeLists.txt -text
tools/numdiff/Makefile -text
tools/numdiff/Makefile_c -text
tools/numdiff/Makefile_lib -text
tools/numdiff/README -text
tools/numdiff/src/args.c -text
tools/numdiff/src/args.h -text
tools/numdiff/src/constraint.c -text
tools/numdiff/src/constraint.h -text
tools/numdiff/src/context.c -text
tools/numdiff/src/context.h -text
tools/numdiff/src/error.c -text
tools/numdiff/src/error.h -text
tools/numdiff/src/main.c -text
tools/numdiff/src/ndiff.c -text
tools/numdiff/src/ndiff.h -text
tools/numdiff/src/slice.h -text
tools/numdiff/src/types.h -text
tools/numdiff/src/utest.c -text
tools/numdiff/src/utest.h -text
tools/numdiff/src/utils.c -text
tools/numdiff/src/utils.h -text
win/tpsa.dll -text svneol=unset#unset
win/tpsa.lib -text svneol=unset#unset
win/win32calls.fi -text