* text=auto !eol
/Makefile -text
/Makefile.bat -text
/Makefile.prof -text
/Makefile_develop -text
/Makefile_g95 -text
/Makefile_nag -text
/Sa_extend_poly.f90 -text
/Sb_sagan_pol_arbitrary.f90 -text
/Sc_euclidean.f90 -text
/Sd_frame.f90 -text
/Se_status.f90 -text
/Sf_def_all_kinds.f90 -text
/Sg_sagan_wiggler.f90 -text
/Sh_def_kind.f90 -text
/Si_def_element.f90 -text
/Sj_elements.f90 -text
/Sk_link_list.f90 -text
/Sl_family.f90 -text
/Sm_tracking.f90 -text
/Sma_multiparticle.f90 -text
/Sn_mad_like.f90 -text
/So_fitting.f90 -text
/Sp_keywords.f90 -text
/a_def_all_kind.inc -text
/a_def_element_fibre_layout.inc -text
/a_def_frame_patch_chart.inc -text
/a_def_sagan.inc -text
/a_def_worm.inc -text
/a_scratch_size.f90 -text
/b_da_arrays_all.f90 -text
/bb.fi -text
/c6t.c -text
/c6t.h -text
/c_dabnew.f90 -text
/d_lielib.f90 -text
/deltra.fi -text
/dynap.F -text
/dyntab.fi -text
/e_define_newda.f90 -text
/emit.F -text
/emit.fi -text
/f_newda.f90 -text
/g_newLielib.f90 -text
/gxx11.F -text
/gxx11c.c -text
/gxx11ps.F -text
/gxx11psc.c -text
/h_definition.f90 -text
/i_tpsa.f90 -text
/ibsdb.F -text
/ibsdb.fi -text
/j_tpsalie.f90 -text
/k_tpsalie_analysis.f90 -text
/l_complex_taylor.f90 -text
/m_real_polymorph.f90 -text
/madx.h -text
/madx_main.f90 -text
/madx_ptc_intstate.f90 -text
/madx_ptc_module.f90 -text
/madx_ptc_script.f90 -text
/madx_ptc_setcavs.f90 -text
/madx_ptc_tablepush.f90 -text
/madx_ptc_track_run.f90 -text
/madx_ptc_trackcavs.f90 -text
/madxc.c -text
/madxd.h -text
/madxdict.h -text
/madxe.c -text
/madxl.h -text
/madxm.F -text
/madxn.c -text
/madxp.c -text
/madxreg.c -text
/madxreg.h -text
/madxu.c -text
/makethin.c -text
/match.F -text
/match.fi -text
/matchc.c -text
/matchc2.c -text
/matchjc.F -text
/matchlib.F -text
/matchsa.F -text
/n_complex_polymorph.f90 -text
/name_len.fi -text
/o_tree_element.f90 -text
/orbf.F -text
/photoni.inc -text
/physcons.fi -text
/plot.F -text
/plot.fi -text
/plot_b.fi -text
/plot_c.fi -text
/plot_math.fi -text
/pointers.f90 -text
/poisson.F -text
/ptc_dummy.F -text
/resindex.F -text
/resindex.fi -text
/rplot.c -text
/rplot.h -text
/run_madx.f90 -text
/sodd.F -text
/survey.F -text
/sxf.c -text
/timel.c -text
/timest.f90 -text
/timex.f90 -text
/touschek.F -text
/touschek.fi -text
/track.fi -text
/trrun.F -text
/tunes.fi -text
/twiss.F -text
/twiss0.fi -text
/twissa.fi -text
/twissc.fi -text
/twissl.fi -text
/twissotm.fi -text
/twtrr.fi -text
/user2_photon.f90 -text
/util.F -text
/win32calls.fi -text
/wmaxmin0.fi -text
/wrap.f90 -text