# LaTeX/PDF:
*.aux
*.bbl
*.blg
*.idx
*.lof
*.log
*.lot
*.out
*.dvi
*.pdf
*.toc
doc/latexuguide/1
doc/latexuguide/*.ilg
doc/latexuguide/*.ind

# Build/Binaries:
*.o
*.a
build
madx-*-*
madx32
madx64
numdiff-*-*
numdiff32
numdiff64

# Coverage
*.gcda
*.gcno
*.gcov

# GC build:
libs/gc/**/*.log
libs/gc/**/*.lo
libs/gc/**/*.la
libs/gc/**/*.trs
libs/gc/**/.deps
libs/gc/**/.libs
libs/gc/**/.dirstamp
libs/gc/**/Makefile
libs/gc/gc-*/bdw-gc.pc
libs/gc/gc-*/config.status
libs/gc/gc-*/*test
libs/gc/gc-*/include/config.h
libs/gc/gc-*/include/stamp-h1
libs/gc/gc-*/libtool
libs/gc/gc-*/disclaim_bench

# Tests:
# (could also exclude whole tests folder?)
tests/**/*.data
tests/**/*.tab
tests/**/*.tfs
! tests/test-aperture/input/offset.tfs
! tests/test-setknob/input/test.tfs
! tests/test-c6t-4/input/aperture/offset.ip*.b1.tfs
tests/**/*.obs000?.p000?
tests/**/*.file
tests/**/*.dat
tests/**/*.aper
tests/**/fort.18
! tests/test-ptc-twiss-56Dt-ini_map_man/fort.18
tests/**/*.twiss
tests/**/*.nonlin
tests/**/debug.ptc
tests/**/sectormap
tests/**/thick.seq
tests/**/thin.seq
tests/**/twiss
tests/**/twiss_*
! tests/**/twiss_*.ref
! tests/**/twiss_*.cfg
tests/**/ring_matrix_at_end
tests/**/*.[1-9]
tests/**/*.16
tests/**/*.34
tests/**/*.survey
tests/**/trackone
tests/**/*.txt
tests/**/resultb[0-9]
tests/**/result[0-9]
tests/**/*.tab[0-9]
tests/**/dummyone

tests/test-cororbit-2/cx12.tab_1
tests/test-cororbit-2/cx12.tab_2
tests/test-cororbit-2/plot.orb
tests/test-dynap/dynap
tests/test-dynap/dynaptune
tests/test-dynap/fort.69
tests/test-dynap/twiss-table-1
tests/test-dynap/twiss-table-2
tests/test-emit-2/twiss1
tests/test-error-2/err.file5ac
tests/test-makethin-2/V6.5.thin.b1.seq
tests/test-makethin-3/V6.5.thin.b1.seq
tests/test-makethin/fivecell_thin.seq
tests/test-makethin/fivecell_thin_collim.seq
tests/test-makethin/fivecell_thin_options.seq
tests/test-makethin/fivecell_thin_simple.seq
tests/test-makethin/fivecell_thin_teapot.seq
tests/test-plot-2/madx.ps
tests/test-plot/plot1.ps
tests/test-plot/plot1one
tests/test-plot/plot2.ps
tests/test-ptc-track/trackoneLag0
tests/test-ptc-track/trackoneLag90
tests/test-ptc-twiss-normal-genfu/transfer.map
tests/test-ptc-twiss-old5/normal_results
tests/test-ptc-twiss-old6/normal_results
tests/test-ptc-twiss-old6/summaryMomentumCompaction
tests/test-rfmultipole-ptc-1/trackone
tests/test-rfmultipole/test1_flat.seq
tests/test-sequence-3/ad.save
tests/test-sequence-4/all_survey
tests/test-thick-quad-3/fivecell_thin.seq
tests/test-track-3/out_done
tests/test-track-3/out_fone
tests/test-track-4/out_done
tests/test-track-5/out_rellipseone
tests/test-track/out_test-track_ap_collimatorone
tests/test-twiss-10/twiss1
tests/test-twiss-10/twiss2
tests/test-twiss-11/dec17i.lis
tests/test-twiss-13/twiss.tsf
tests/test-twiss-2/my_sect_file
