* text=auto !eol
/CMakeLists.txt -text
/License.txt -text
/Makefile -text
/Makefile.bat -text
/MakefileIntel.bat -text
/SDDS.h -text
/SDDS_COPYRIGHT.TXT -text
/SDDS_LICENSE -text
/SDDStypes.h -text
/Sa_extend_poly.f90 -text
/Sb_sagan_pol_arbitrary.f90 -text
/Sc_euclidean.f90 -text
/Sd_frame.f90 -text
/Se_status.f90 -text
/Sf_def_all_kinds.f90 -text
/Sg_sagan_wiggler.f90 -text
/Sh_def_kind.f90 -text
/Si_def_element.f90 -text
/Sk_link_list.f90 -text
/Sl_family.f90 -text
/Sm_tracking.f90 -text
/Sma0_beam_beam_ptc.f90 -text
/Sma_multiparticle.f90 -text
/Sn_mad_like.f90 -text
/So_fitting.f90 -text
/Sp_keywords.f90 -text
/Spb_fake_gino_sub.f90 -text
/Sq_orbit_ptc.f90 -text
/Sqb_accel_ptc.f90 -text
/Sr_spin.f90 -text
/Sra_fitting.f90 -text
/St_pointers.f90 -text
/a_def_all_kind.inc -text
/a_def_element_fibre_layout.inc -text
/a_def_frame_patch_chart.inc -text
/a_def_sagan.inc -text
/a_def_worm.inc -text
/a_scratch_size.f90 -text
/aperture.c -text
/b_da_arrays_all.f90 -text
/c6t.c -text
/c6t.h -text
/c_dabnew.f90 -text
/c_dabnew_berz.f90 -text
/c_tpsa_interface.F90 -text
cmakesrc/FindGSL.cmake -text
cmakesrc/LinuxLF95.cmake -text
cmakesrc/MadX.icns -text svneol=unset#unset
cmakesrc/README -text
cmakesrc/ctests/job.sample.madx -text
cmakesrc/ctests/testruns.sh -text
cmakesrc/ctests/testsample.sh -text
cmakesrc/madX.gif -text svneol=unset#unset
/d_lielib.f90 -text
/dynap.f90 -text
/emit.f90 -text
/fortran_flush.F90 -text
/gxx11.f90 -text
/gxx11c.c -text
/gxx11ps.f90 -text
/gxx11psc.c -text
/h_definition.f90 -text
/i_tpsa.f90 -text
/ibsdb.f90 -text
/j_tpsalie.f90 -text
/k_tpsalie_analysis.f90 -text
/l_complex_taylor.f90 -text
lib/libSDDS1.a -text
lib/libSDDS1c.a -text
lib/libX11.a -text
lib/libgsl.a -text
lib/libmdblib.a -text
lib/libmdbmth.a -text
lib/librpnlib.a -text
lib/libz.a -text
lib64/libSDDS1.a -text
lib64/libSDDS1c.a -text
lib64/libX11.a -text
lib64/libgsl.a -text
lib64/libmdblib.a -text
lib64/libmdbmth.a -text
lib64/librpnlib.a -text
lib64/libz.a -text
/m_real_polymorph.f90 -text
/madx.h -text
/madx_main.F90 -text
/madx_ptc_distrib.f90 -text
/madx_ptc_distrib.inc -text
/madx_ptc_eplacement.f90 -text
/madx_ptc_intstate.f90 -text
/madx_ptc_knobs.f90 -text
/madx_ptc_knobs.inc -text
/madx_ptc_module.f90 -text
/madx_ptc_normal.f90 -text
/madx_ptc_script.f90 -text
/madx_ptc_setcavs.f90 -text
/madx_ptc_track_run.f90 -text
/madx_ptc_trackcavs.f90 -text
/madx_ptc_twiss.f90 -text
/madxc.c -text
/madxd.h -text
/madxdict.h -text
/madxe.c -text
/madxl.h -text
/madxn.c -text
/madxp.c -text
/madxreg.c -text
/madxreg.h -text
/madxsdds.c -text
/madxu.c -text
/makethin.c -text
/match.f90 -text
/matchc.c -text
/matchc2.c -text
/matchjc.f90 -text
/matchlib.f90 -text
/matchptcknobs.c -text
/matchptcknobs.h -text
/matchsa.f90 -text
/n_complex_polymorph.f90 -text
/o_tree_element.f90 -text
/orbf.f90 -text
/photoni.inc -text
/plot.f90 -text
/poisson.f90 -text
/ptc_export_xml.f90 -text
/resindex.f90 -text
/rplot.c -text
/rplot.h -text
/run_madx.f90 -text
/sodd.f90 -text
/survey.f90 -text
/sxf.c -text
testing/MadBuild.pl -text
testing/MadBuild.py -text
testing/MadBuildAndTest.pl -text
testing/MadBuildAndTest.py -text
testing/MadBuildPy.pl -text
testing/MadDiff.pl -text
testing/MadRelease.py -text
testing/MadTest.pl -text
testing/MadTest.py -text
testing/MadTestExceptions.py -text
testing/MadTestOverwrite.pl -text
testing/MadTestPy.pl -text
testing/MadTestWebStyle.css -text
testing/MadTrigRelease.pl -text
testing/MadTrigTest.pl -text
testing/MadTrigTest.py -text
testing/MadTrigWindowsCompilation.pl -text
testing/MadWindowsCompileClient.pl -text
testing/MadWindowsCompileClient.py -text
testing/MadWindowsCompileServer.pl -text
testing/MadWindowsCompileServer.py -text
testing/MadWorkBetweenReleases.pl -text
testing/MadWorkReport.pl -text
testing/Makefile -text
testing/Notify.py -text
testing/ProcessScenario.xsl -text
testing/TestScenario.xml -text
testing/index.htm -text
testing/mad_install -text
testing/repository.gif -text svneol=unset#unset
testing/stayAlive.py -text
testing/testCompileClient.py -text
testing/underConstruction.gif -text svneol=unset#unset
/timel.c -text
/timest.f90 -text
/timex.f90 -text
/touschek.f90 -text
/tpsa.cpp -text
/tpsa.dll -text svneol=unset#unset
/tpsa.h -text
/tpsa.lib -text svneol=unset#unset
/trrun.f90 -text
/twiss.f90 -text
/user2_photon.f90 -text
/util.f90 -text
/win32calls.fi -text
/wrap.f90 -text
/wrap_C_calls.py -text
/wrap_fortran_calls.py -text